#Calculator{
    margin-left: 25%;
    margin-top:25%;
    margin-right:25%;
}
#button1{
    font-size: large;
}
#button2{
    font-size: large;
}
#button3{
    font-size: large;
}
#button4{
    font-size: large;
}
#button5{
    font-size: large;
}
#button6{
    margin-left: 20%;
    font-size:large;
}