#game{
    background-color: bisque;
    border-style: groove;
    padding-left: 5%;
    padding-right:10%
}



#text{
  background-color:aqua;
  font-size:small;
  padding-left: 10%;
  padding-right:10%;

}

#stats{
    border-style: groove;
    margin-left: 25%;
    padding-left: 25%;
}

#controls{
    border-style: groove;
    margin-left: 25%;
    padding-left: 25%;
}
#monsterStats{
    display:none;
    border-style: groove;
    margin-left:25%;
    padding-left: 25%;
}